@import (less, reference) url("variables.less");

html{
  font-size: 10px;
}
.comment{
  &__container{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0;
    padding: 50px 100px;
    font-family: "Helvetica", sans-serif;
  }
  &__item{
    width: 250px;
    box-sizing: border-box;
    padding: 20px 20px 30px;
    background: @comment;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 3px solid transparent;
    transform: scale(1);
    transition: 0.3s;
    z-index: 1;
    &:hover{
      transform: scale(1.1);
      z-index: 2;
    }
    &.error{
      border: 3px solid @error;
      .comment{
        &__title{
          color: @error;
        }
        &__body{
          color: @error;
        }
      }

    }
    &.valid{
      border: 3px solid @valid;

      .comment{
        &__title{
          color: @valid;
        }
      }
    }
    &.unactive{
      opacity: 0.5;
      background: @unactive;
      color: @font-unactive;
    }
  }
  &__title{
    font-size: @font_large;
    font-weight: 700;
  }
  &__body{
    font-size: @font_small;
  }

}
