
// VARIBALES

// COLORS: ;
  @error: #006eff;
  @valid: #98c44c;
  @comment: #fde9b2;

  @unactive: #dbdbdb;

  @font-main: #48443e;
  @font-unactive: #595651;

// FONTS
  @font_small:  1.3rem;
  @font_medium: 2rem;
  @font_large:  2rem;
  @font_title:  4rem;

// MEDIA

// small smartphone portrait 320px
@ss: ~"screen and (max-width: 320px)";
// medium smartphone portrait 480px
@sm: ~"screen and (max-width: 480px)";
// big smartphone portrait 640px
@sb: ~"screen and (max-width: 670px)";

@ssl: ~"screen and (max-width: 320px) and (orientation: landscape)";
// medium smartphone landscape 480px
@sml: ~"screen and (max-width: 480px) and (orientation: landscape)";
// big smartphone landscape 640px
@sbl: ~"screen and (max-width: 640px) and (orientation: landscape)";
// portrait tablet   768px
@tp:  ~"screen and (max-width: 768px)";
// landcape tablet   1024px
@tl: ~"screen and (max-width: 1024px)";
// 3:4 monitor or old netbook   1280px
@hd: ~"screen and (max-width: 1280px)";
// laptop  1366px
@lap: ~"screen and (max-width: 1366px)";
//  macbook retina 1400px
@mr: ~"screen and (max-width: 1400px)";
// just 1500px width
@mr1500: ~"screen and (max-width: 1500px)";
// large desktop 1680px
@ldt: ~"screen and (max-width: 1680px)";
// fullhd screen 1920px
@fullhd: ~"screen and (max-width: 1920px)";
